[Unit]
Description=easyeffects daemon
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/easyeffects --gapplication-service
ExecReload=kill -HUP $MAINPID
Restart=always
RestartSec=3s
StartLimitBurst=25

[Install]
WantedBy=graphical-session.target
