[Unit]
Description=Picom X11 compositor
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/picom --daemon --config %h/.config/picom/picom.conf
ExecReload=kill -HUP $MAINPID
Restart=on-failure
RestartSec=3s
StartLimitBurst=25

[Install]
WantedBy=graphical-session.target
