[Unit]
Description=Picom X11 compositor
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Environment=DISPLAY=:0
Type=forking
ExecStart=/usr/bin/picom --daemon --config %h/.compton.conf
ExecReload=kill -HUP $MAINPID
Restart=always
RestartSec=3s
StartLimitBurst=25

[Install]
WantedBy=graphical-session.target
