root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[[bash]]
indent_style = space
indent_size = 2
binary_next_line   = true
switch_case_indent = true

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[*.lua]
indent_style = space
indent_size = 3

[Makefile]
indent_style = tab
