[submodule "bash-it"]
	path = modules/bash-it
	url = git@github.com:barbuk/bash-it
[submodule "z"]
	path = modules/z
	url = git@github.com:rupa/z
[submodule "tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/goto"]
	path = modules/goto
	url = https://github.com/Fakerr/goto.git
[submodule "modules/fz"]
	path = modules/fz
	url = https://github.com/changyuheng/fz
