[submodule "z"]
	path = modules/z
	url = git@github.com:rupa/z
[submodule "modules/rmate"]
	path = modules/rmate
	url = https://github.com/aurora/rmate
[submodule "modules/z.lua"]
	path = modules/z.lua
	url = git@github.com:skywind3000/z.lua.git
[submodule "apps/awesome/lain"]
	path = modules/lain
	url = git@github.com:lcpz/lain.git
[submodule "modules/bash-it"]
	path = modules/bash-it
	url = git@github.com:Bash-it/bash-it.git
[submodule "modules/ttfb.sh"]
	path = modules/ttfb.sh
	url = https://github.com/jaygooby/ttfb.sh.git
[submodule "modules/snippy"]
	path = modules/snippy
	url = https://github.com/BarbUk/snippy
[submodule "modules/fz"]
	path = modules/fz
	url = https://github.com/mrjohannchang/fz.sh
