[submodule "z"]
	path = modules/z
	url = git@github.com:rupa/z
[submodule "tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/rmate"]
	path = modules/rmate
	url = https://github.com/aurora/rmate
[submodule "modules/z.lua"]
	path = modules/z.lua
	url = git@github.com:skywind3000/z.lua.git
[submodule "apps/awesome/lain"]
	path = apps/awesome/lain
	url = git@github.com:lcpz/lain.git
[submodule "modules/bash-it"]
	path = modules/bash-it
	url = git@github.com:Bash-it/bash-it.git
