---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-d relaxed"]

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.0
    hooks:
      - id: stylua-system

  - repo: local
    hooks:
    - id: shellcheck
      name: shellcheck
      description: Test shell scripts with shellcheck
      entry: shellcheck
      language: system
      types: [shell]
      require_serial: true
      args:
          - --external-sources

    - id: shfmt
      name: shfmt
      description: Format shell scripts with shfmt
      entry: shfmt
      language: system
      types: [shell]
      args: [--write]
      exclude_types: [csh, tcsh, zsh]
