---
default_install_hook_types:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-yaml
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: mixed-line-ending
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix

  # YAML
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-d relaxed"]
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        language: system

  # Lua
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua-system

  # EditorConfig
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker

  # Spelling
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.13.13
    hooks:
      - id: typos

  # Png
  - repo: https://github.com/oxipng/oxipng
    rev: v10.0.0
    hooks:
      - id: oxipng
        args: ["-o", "4", "--strip", "safe", "--alpha"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint-system

  # Security
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  # Makefile
  - repo: https://github.com/checkmake/checkmake.git
    rev: 0.2.2
    hooks:
      - id: checkmake-system

  # Markdown
  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.206
    hooks:
      - id: rumdl-fmt
        args:
          - --disable
          - MD013

  # Local tool (shellcheck / shfmt)
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        require_serial: true
        args:
          - --external-sources

      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        entry: shfmt
        language: system
        types: [shell]
        args: [--write]
        exclude_types: [csh, tcsh, zsh]
