rofi.terminal:          termite
rofi.monitor:           -4
rofi.sidebar-mode:      false
rofi.lines:             25
rofi.width:             80
rofi.show-icons:        true
rofi.font:              PragmataPro Liga 14
rofi.no-case-sensitive: true
rofi.no-click-to-exit:  true
rofi.drun-icon-theme:   Papirus-Dark
rofi.display-combi:
rofi.sort: true
rofi.sorting-method: fzf
rofi.theme: /usr/share/rofi/themes/Arc.rasi
