rofi.terminal:          termite
rofi.monitor:           -4
rofi.sidebar-mode:      false
rofi.lines:             25
rofi.width:             80
rofi.show-icons:        true
rofi.font:              PragmataPro 13
rofi.no-case-sensitive: true
rofi.no-click-to-exit:  true
rofi.drun-icon-theme:   Papirus-Dark
rofi.theme:             /usr/share/rofi/themes//Paper.rasi
rofi.display-combi:
