rofi.terminal:          termite
rofi.monitor:           -4
rofi.sidebar-mode:      false
rofi.lines              25
rofi.show-icons:        true
rofi.fullscreen:        true
rofi.font:              PragmataPro 13
rofi.no-case-sensitive: true
rofi.no-click-to-exit:  true
rofi.drun-icon-theme:   Papirus-Dark
rofi.theme: /usr/share/rofi/themes//glue_pro_blue.rasi
